*{
    box-sizing: border-box;
}

.about-section{
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;

}

.aboutus{
    width: 100%;
    text-align: center;

    
}

.main{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: bisque;
}

.copyright{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    color: white;

}