*{
    box-sizing: border-box;
}


#projects{
    width: 100%;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(43, 37, 37);
    color: white;


    
}

.works{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: whitesmoke;
}

.copyright{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    color: white;

}